.u-section-1 .u-sheet-1 {
  min-height: 638px;
}

.u-section-1 .u-text-1 {
  margin: 102px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  width: 261px;
  margin: 28px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  margin: 20px 429px 0 439px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 45px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-3 {
    margin-right: 329px;
    margin-left: 339px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-3 {
    margin-right: 219px;
    margin-left: 229px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-3 {
    margin-right: 129px;
    margin-left: 139px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-3 {
    margin-right: 29px;
    margin-left: 39px;
  }
}.u-section-2 {
  background-image: url("images/RITMAP.jpg");
}

.u-section-2 .u-sheet-1 {
  min-height: 741px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 611px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 468px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 351px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 221px;
  }
}